In [30]:
import numpy as np
import pandas as pd
import datetime as dt
import os
import scipy.optimize as opt
from scipy.optimize import LinearConstraint, Bounds

Begin by reading in the data and extracting the day-level price information for each of the products available in our market.

In [24]:
def read_individual_csv(path):
    try:
        data = pd.read_csv(path)
        return data
    except Exception as e:
        print(f"Error reading CSV file: {e}")
        return None

"""
Cleaning functionality for the purposes of implementing Huo/Fu algorithm; helper for options data.
Sets name of df to the relevant ticker and cleans the data to include only the (close) price and 
trading dates. If there are multiple prices associated with a specific day, takes the simple average
as the price and consolidates them into one row.
"""
def clean_df(df):
    res = df[['close', 'trading_date']]
    res = res.drop_duplicates()
    res = res.rename(columns={'close': df['Ticker'].iloc[0], 'trading_date':'date'})
    res= res.groupby('date', as_index=False).mean()
    res.name = df['Ticker'].iloc[0]
    return res
    
"""
Returns an array of csvs stored in a folder (in our case, to read the option data into an array)

:param max_count: the max number of csvs to read before stopping and outputting array
"""
def read_folder_csv(folder_path, max_count = 10):
    dfs = []
    count = 0
    if not os.path.exists(folder_path):
        print(f"Folder '{folder_path}' not found.")
        return None
    files = [f for f in os.listdir(folder_path) if os.path.isfile(os.path.join(folder_path, f))]
    for f in files:
        if count > max_count: break
        file_path = os.path.join(folder_path, f)
        df = read_individual_csv(file_path)
        df = clean_df(df)
        if df is not None: 
            dfs.append(df)
            count += 1
    return dfs

In [25]:
# reading in and displaying relevant data (change pathnames for local run)
gold_fut_data = read_individual_csv('/Users/leonlu/Documents/orcs4529_data/gold_fut_data.csv')
options_data = read_folder_csv('/Users/leonlu/Documents/orcs4529_data/option_data')

In [44]:
# cleaning futures data (directly implemented since we need to do this only once)
gold_fut_data = gold_fut_data[pd.to_datetime(gold_fut_data['date']).dt.time == pd.to_datetime('00:00:00').time()]
gold_fut_data = gold_fut_data.reset_index()
gold_fut_data = gold_fut_data[['date', 'AUSHF']]

In [51]:
# testing window to confirm all data is cleaned correctly
display(options_data[0].head())
display(gold_fut_data.head())
print(np.shape(options_data[0]))
print(np.shape(gold_fut_data))

                  date  AU2007C340
0  2020-04-16 00:00:00       42.42
1  2020-04-17 00:00:00       41.32
2  2020-04-20 00:00:00       37.96
3  2020-04-21 00:00:00       37.60
4  2020-04-22 00:00:00       39.41

                  date   AUSHF
0  2020-01-08 00:00:00  355.26
1  2020-01-09 00:00:00  356.08
2  2020-01-10 00:00:00  349.06
3  2020-01-11 00:00:00  351.00
4  2020-01-14 00:00:00  347.84

(45, 2)
(646, 2)

Now we can write code that takes in our dataset and manipulates it into usable matrices for the purposes of applying various algorithms (driven by Huo/Fu). Begin by finding the historical returns $H_{i,t}$ where $i$ represents the asset $i$ out of $K$ total and $t \in \{1, \cdots, \delta\}$ the total time horizon.

In [55]:
# merging all the assets into one dataframe to obtain the (i,t) format. notice that we'll 
# have a (\delta x K) matrix instead of the other way around
gold_matrix = gold_fut_data
for option_df in options_data:
    gold_matrix = pd.merge(gold_matrix, option_df, on = 'date', how = 'left')
gold_matrix = gold_matrix.dropna(subset=gold_matrix.columns[2:], how='all')
display(gold_matrix)

,date,AUSHF,AU2007C340,AU2210P388,AU2007C432,AU2204C388,AU2212C440,AU2202C332,AU2206P332,AU2011C488,AU2007C368,AU2206P440,AU2209C368
12,2020-05-07 00:00:00,378.16,42.54,NaN,2.46,NaN,NaN,NaN,NaN,NaN,22.17,NaN,NaN
13,2020-05-08 00:00:00,380.66,41.64,NaN,1.98,NaN,NaN,NaN,NaN,NaN,21.36,NaN,NaN
15,2020-05-12 00:00:00,380.12,42.92,NaN,0.89,NaN,NaN,NaN,NaN,NaN,19.09,NaN,NaN
16,2020-05-13 00:00:00,382.00,42.77,NaN,0.67,NaN,NaN,NaN,NaN,NaN,18.67,NaN,NaN
17,2020-05-14 00:00:00,383.22,44.20,NaN,1.15,NaN,NaN,NaN,NaN,NaN,21.55,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
518,2022-06-30 00:00:00,393.16,NaN,8.755455,NaN,NaN,3.5180,NaN,NaN,NaN,NaN,NaN,30.84
519,2022-07-01 00:00:00,391.72,NaN,10.484348,NaN,NaN,3.2120,NaN,NaN,NaN,NaN,NaN,29.54
521,2022-07-05 00:00:00,390.36,NaN,9.709091,NaN,NaN,3.0860,NaN,NaN,NaN,NaN,NaN,27.20
522,2022-07-06 00:00:00,383.74,NaN,13.361429,NaN,NaN,2.7400,NaN,NaN,NaN,NaN,NaN,24.58
523,2022-07-07 00:00:00,375.40,NaN,17.357778,NaN,NaN,2.4056,NaN,NaN,NaN,NaN,NaN,20.08

Huo and Fu basically interpolate between UCB1 and CVaR, both of which are implemented here to some extent. It's probably worth adding two more benchmarks (UCB1 and CVaR), since I've already written some code for it...

In [6]:
# globally accessible constants or data

# number of assets
K = 10

# something about finance
delta = 5

# confidence level
gamma = 0.95 # see page 7 below Theorem 2.2

# time horizon
time_horizon = 0 # not sure if this is actually a variable??

# the number of times an asset has been picked; to be updated as the learner runs
times_selected = np.zeros(K) # add to the corresponding entry whenever an asset is selected

# shapes of matrices need to be fixed
H_matrix = np.zeros(shape=(K, K)) # historical returns
P_matrix = np.zeros(shape=(K, K)) # TODO: definition; price matrix?? ("number of assets" x "time horizon")?
R_matrix = np.zeros(shape=(K, K)) # TODO: definition
for t in range(time_horizon): # see definition of R above equation 2.1
    R_matrix[t] = P_matrix[t + 1] / P_matrix[t]
R_matrix = np.log(R_matrix)

<ipython-input-6-daabafef02c1>:24: RuntimeWarning: divide by zero encountered in log
  R_matrix = np.log(R_matrix)

In [7]:
def I(t):
    """
    Definition: Equation 2.1; follows the UCB1 algorithm.
    t: the time

    """
    if t < K: # sharp inequality because assets are 0, 1, ..., K - 1
        return t
    else:
        R_bar = R_matrix.mean(axis=1) # take the mean of the returns matrix across the time axis
        return np.argmax([R_bar[i] + np.sqrt((2 * np.log(t) / times_selected[i] * (t - 1))) for i in range(K)])

In [8]:
def F(gamma, u, alpha, t, H_matrix, R_matrix, delta=delta):
    """
    Definition: Equation 2.3; estimates the conditional value-at-risk.
    H_matrix: the s-th column of H_matrix (K rows, \delta columns) is the historical returns of the s-th asset
    R_matrix: the s-th column of R_matrix (K rows, t - 1 columns) is the trial of returns observed so far of the s-th asset
    """
    sum1 = np.sum([np.max(-np.dot(H_matrix[s], u) - alpha, 0) for s in range(delta)])
    sum2 = np.sum([np.max(-np.dot(R_matrix[s], u) - alpha, 0) for s in range(t - 1)])
    return alpha + (sum1 + sum2) / ((delta + t - 1) * (1 - gamma))

In [9]:
def omega_C(t):
    """
    Definition: Equation 2.4
    Computes a risk-aware portfolio according to Equation 2.3.
    t: the time
    """
    # the objective function at iteration t
    def F_t(args):
        u, alpha = args[0], args[1]
        return F(gamma, u, alpha, t, H_matrix, R_matrix)

    # constraining u to be a probability distribution over 1, 2, ..., K
    sum_to_one = LinearConstraint(np.ones(K), [0], [1])
    positivity_bounds = Bounds(np.zeros(K), np.ones(K))

    # scipy.optimize.minimize
    x0 = np.ones(K + 1)
    x0[:K] /= K # first K components should sum to 1; no idea what alpha (last component) should represent
    approx_min = opt.minimize(
        F_t, x0=x0,
        constraints=[sum_to_one],
        bounds=positivity_bounds
    )
    return approx_min

In [10]:
def sequential_selection_algo(K, lambda_, gamma=gamma, time_horizon=time_horizon):
    """
    K: number of assets
    gamma: confidence level
    lambda_: risk preference
    """
    returns = []
    for t in range(time_horizon):
        # Equation. 2.2: compute omega_M(t)
        omega_M = np.zeros(K)
        omega_M[I(t)] = 1
        
        # Equation 2.4: compute the risk aware portfolio
        risk_aware_portfolio = omega_C(t)

        # Equation 2.5: compute convex combination of UCB1 portfolio and risk aware portfolio
        omega_star = lambda_ * omega_M + (1 - lambda_) * risk_aware_portfolio

        # "Receive portfolio reward"
        returns_by_t = np.dot(omega_star, R_matrix[:, t])
        returns.append(returns_by_t)
    return returns # idk what to return; there might be a formula somewhere